<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<link rel="stylesheet" href="/stylesheets/simple.css" type="text/css"> 
<title>GPA Calculator</title>

<script language="javascript">
var msg=""
function validate()
{
        var x = document.inputform.content.value;
        
        if(isNaN(x)|| x.indexOf(" ")!=-1){
               alert("Enter numeric value"); return false;
           }
        if (x.length < 11){
               alert("enter 10 or 8 characters"); return false; 
           
           }
       
}

</script>

</head>

<body>
	<div id="header" >
<h1><a href="/"> GPA Calculator - Anna University </a></h1>
</div>
<center>
<div id="form">    
    <form action="/sign" method="post" name="inputform" onsubmit="return validate()">
      <div id="label"><label>Register No : <input type="number" name="content" placeholder="Your Register No."/></label></div>
      <div id="submit"><input type="submit" value="Get-My-GPA, Computer Ji!" ></div>
    </form>
</div>
</center>

</body>
</html>
